*,
*::after,
*::before {
    margin:0;
    padding:0;
    box-sizing:inherit;
}

html{
    /*
    define 1rem
    1rem = 10px 
    10px/16px = .625  
    .625 * 100% = 62.5%
    */
    font-size: 62.5%;

    /* METHOD -3 
    @media (max-width: 600px){
        font-size: 50%;
    } */

    


    
    @include respond(tab-land){  // < 1200
        font-size: 56.25%;       // 1rem = 9px , 9/16 =56.25%
    }

    @include respond(tab-port){  // < 900
        font-size: 50%;          // 1rem = 8px , 8/16 = 50%
    }

    // @include respond(phone){
    //     font-size: 30%;
    // }

    @include respond(big-desktop){  // > 1800
        font-size: 75%;             // 1rem = 12 ,12/16 =75%
    }
}

body{
    box-sizing: border-box;
    padding: 3rem;
    @include respond(tab-port){  
      padding: 0rem;
    }
}

/* METHOD - 1
@media (max-width:600px){
    html{

    }
    body{

    }
} */